@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@400;500;700&display=swap');

:root {
	--orange: #FC4C02;
	--blue: #011A70;
	--black: #111111;
	--peach: #fde9df;;
    --heading-font-family: "Playfair Display", serif;
    --default-font-family: "Poppins", sans-serif;
}


/* CSS Reset */

html {
	box-sizing: border-box;
	font-size: 16px;
	font-family: var(--default-font-family);
    font-weight: 400;
    font-size: 100%;
    line-height: 1.5;
	color: var(--blue);
	scroll-behavior: smooth;
}


*,
*:before,
*:after {
	box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Playfair Display', serif;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
	margin: 0;
	padding: 0;
}

ol,
ul {
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
}

input,
button,
textarea,
select {
	font: inherit;
}



/* Header */

.hamburger-icon {
height: 45px;
}

.mobile-header {
    padding: 8px 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

.mobile-header .logo {
    max-width: 25%;
    cursor: pointer;
}


header .hamburger-button {
    all: unset;
    color: var(--blue);
    display: none;
}


.mobile-nav {
        display: none;
    }
    
@media (max-width: 768px) {
        .mobile-nav {
            display: block;
        }
        header .hamburger-button {
            display: block;
        }
    }

.mobile-nav a {
    text-decoration: none;
    color: var(--blue);
    display: block;
    padding: 4px 16px;
    text-align: center;
    transition: all 0.1s ease-in-out;
}

.mobile-nav a:hover {
    outline: 1px solid var(--black);
    color: white;
    background-color: var(--blue);
}

.mobile-nav li.active a {
    color: var(--orange);
}


/* Homepage main section */

.hero-image {
    /* background-color: var(--peach); */
    background-image: url(/img/grey-wallpaper.jpg);
    height: 600px;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: left;
}
.hero-text {
    font-family: var(--heading-font-family);
    font-weight: 700;
    text-align: left;
    color: var(--blue);
    display: flex;
    align-items: center;
    padding: 48px;
}
.hero-intro {
    font-size: 100px;
    font-family: var(--default-font-family);
    font-weight: 400;
    margin-bottom: 0px;
}

.hero-text p {
    font-size: 30px;
    color: var(--orange);
}


/* About me main content styling */

.about-me {
    text-align: justify;
    text-justify: inter-word;
    padding: 24px 48px;
    display: flex;
    flex-direction: column;
}

.about-me img {
    border-radius: 4px;
}

.about-me-text p {
    margin-top: 24px;
}

.about-final-sentence {
    margin-top: 24px;
    font-weight: bold;
}

/* Contact page main content styling */

.contact-section {
    padding: 24px;
    text-align: center;
}

h1 {
    font-size: 35px;
    margin-bottom: 24px;
}

.contact-section p {
    font-size: 20px;
    margin-bottom: 24px;
}
.contact-form {
    padding: 20px;
}

.contact-form:placeholder-shown {
    font-family: var(--default-font-family);
}

input, select, textarea {
    width: 85%;
    padding: 12px;
    border: 1px solid var(--blue);
    border-radius: 4px;
    resize: vertical;
    box-sizing: border-box;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}
.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
    text-align: right;
}
.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}
.row::after {
    content: "";
    display: table;
    clear: both;
}


/* Footer */

.social-links {
    display: flex;
    justify-content: center;
    margin: 15px 0;
}

.social-links a {
    margin: 5px;
    color: var(--blue);
    background-color: white;
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 5%;
    transition: all 100ms ease-in-out;
    
}

.social-links a:hover {
    opacity: 0.9;
    transform: scale(1.1);
}

footer {
    text-align: center;
    background-color: white;
}


/* Components */

.btn-branding {
    background: var(--blue);
    border-radius: 4px;
    color: white;
    font-family: var(--default-font-family);
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
    margin: 30px 2px;
    transition: all 100ms ease-in-out;
}

.btn-branding:hover {
    color: white;
    scale: 1.03;
    background: var(--orange);
    border: solid 1px var(--blue);
}
/* Utilities */

.display-none {
    display: none;
}