@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Permanent+Marker&display=swap');
:root {
	--orange: #FC4C02;
	--blue: #011A70;
	--black: #111111;
	--purple: #F9F7FE;;
    --heading-font-family: "Playfair Display", serif;
    --default-font-family: 'Open Sans', sans-serif;;
}


/* CSS Reset */

html {
	box-sizing: border-box;
	font-size: 16px;
	font-family: var(--default-font-family);
    font-weight: 400;
    font-size: 100%;
    line-height: 1.5;
	color: var(--blue);
	scroll-behavior: smooth;
}


*,
*:before,
*:after {
	box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Playfair Display', serif;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
	margin: 0;
	padding: 0;
}

ol,
ul {
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
}

input,
button,
textarea,
select {
	font: inherit;
}



/* Header */

.hamburger-icon {
height: 48px;
}

.mobile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    background-color: white;
    padding: 16px 48px;
}

.mobile-header img {
    height: 60px;
    cursor: pointer;
}


header .hamburger-button {
    all: unset;
    color: var(--blue);
    display: none;
}


.mobile-nav {
        display: none;
    }
    
@media (max-width: 768px) {
        .mobile-nav {
            display: block;
        }
        header .hamburger-button {
            display: block;
        }
        header .desktop-nav {
            display: none;
        }
    }

.mobile-nav a {
    text-decoration: none;
    color: var(--blue);
    display: block;
    padding: 4px 16px;
    text-align: center;
    transition: all 0.1s ease-in-out;
}

.mobile-nav a:hover {
    outline: 1px solid var(--black);
    color: white;
    background-color: var(--blue);
}

.mobile-nav li.active a {
    color: var(--orange);
}

.desktop-nav li.active a {
    color: var(--orange);
}

@media (min-width:768px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header a {
        text-decoration: none;
        color: var(--blue);
    }
    nav {
        display: inline-block;
    }
    header nav ul {
        display: flex;
        gap: 24px;
        margin-right: 16px;
    }
    .mobile-header img {
        height: 80px;
    }
}


@media (min-width: 992px) {
    header {
        width: 80%;
        margin: 0 auto;
        padding: 16px 0;
    }
    
}


/* Homepage main section */

.hero-image {
    background: var(--purple);
    background-size: cover;
    display: flex;
    justify-content: center;
}

.hero-text {
    font-family: var(--heading-font-family);
    font-weight: 700;
    text-align: center;
    color: var(--blue);
    display: flex;
    align-items: center;
    padding: 48px;
}
.hero-intro {
    font-size: 100px;
    font-family: var(--default-font-family);
    font-weight: 400;
    margin-bottom: 0px;
}

.hero-text p {
    font-size: 32px;
    color: var(--orange);
}

.hero-text h1 {
    font-size: 48px;
}


#featured-projects article {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
    }

    @media (min-width:992px) {
        #featured-project article {
            max-width: 80%;
        }
    }

.column {
    width: calc(100%/2 - 5%);
    padding: 5%;
    display: inline-block;
    line-height: 1.5;
}

.project-description h2 {
    margin-bottom: 24px;
    text-align: left;
    font-size: 32px;
}

.project-description p {
    margin-bottom: 40px;
    text-align: justify;
    text-justify: inter-word;
}
.project-description a {
    text-decoration: none;
}
main .featured-projects-header {
    margin: 48px 0;
    text-align: center;
    font-size: 40px;

}

#featured-projects .project-image {
    background-color: var(--purple);
    text-align: center;
    max-width: 100%;
    height: auto;
}

@media (max-width: 768px) {

    #featured-projects .project-type-1 {
        flex-direction: column;
        align-items: center;
    }
    #featured-projects .project-type-2 {
        flex-direction: column-reverse;
        align-items: center;
    }
    .column {
        width: 95%;
    }
    .project-description h2 {
        text-align: center;
    }
}

#featured-projects img {
max-width: 70%;
height: auto;

}

@media (max-width: 992px) {
    main h2 {
        margin: 32px 0;
        font-size: 32px;
    }
    .project-description h2 {
        font-size: 24px;
        margin-bottom: 16px;
    }
    .project-description p {
        margin-bottom: 32px;
    }
    .column {
        padding: 3%;
    }

    #featured-project article {
        max-width: 100%;
    }
}

/* About me main content styling */

@media (min-width:992px) {
    main {
        max-width: 80%;
        margin: 0 auto;
    }
}


.about-me {
    display: flex;
    justify-content: center;
    align-items: center;
}

main h1 {
    text-align: center;
}
.about-me img {
    border-radius: 4px;
    max-width: 100%;
    height: auto;
}

.about-image, .about-text {
        width: 50%;
        padding: 2%;
        display: inline-block;
        line-height: 1.5;
}
.about-text p {
    margin-top: 24px;
}

.about-final-sentence {
    margin-top: 24px;
    font-weight: bold;
}

@media (max-width: 992px) {
    .about-me {
        flex-direction: column;
    }

    .about-image, .about-text {
        width: 95%;
        padding: 16px 48px;
}
}
/* Contact page main content styling */

.contact-section {
    padding: 24px;
    text-align: center;
}

@media (min-width: 992px) {
    .contact-section {
        width: 80%;
        margin: 0 auto;
    }
}

.contact-section h1 {
    font-size: 35px;
    margin-bottom: 24px;
}

.contact-section p {
    font-size: 20px;
    margin-bottom: 24px;
    text-align: justify;
    text-justify: inter-word;
    padding: 20px;
}
.contact-form {
    padding: 20px;
}

.contact-form:placeholder-shown {
    font-family: var(--default-font-family);
}

input, select, textarea {
    width: 85%;
    padding: 12px;
    border: 1px solid var(--blue);
    border-radius: 4px;
    resize: vertical;
    box-sizing: border-box;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}
.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
    text-align: right;
}
.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}
.row::after {
    content: "";
    display: table;
    clear: both;
}


/* Footer */

.social-links {
    display: flex;
    justify-content: center;
    /* margin: 15px 0; */
}

.social-links a {
    margin: 5px;
    color: var(--blue);
    background-color: white;
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 5%;
    transition: all 100ms ease-in-out;
    
}

.social-links a:hover {
    opacity: 0.9;
    transform: scale(1.1);
}

footer {
    text-align: center;
    background-color: white;
}

@media (min-width: 992px) {
    footer {
        width:80%;
        margin: 0 auto;
    }
}

/* Components */

.btn-branding {
    background: var(--blue);
    border-radius: 4px;
    color: white;
    font-family: var(--default-font-family);
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
    margin: 30px 2px;
    transition: all 100ms ease-in-out;
}

.btn-branding:hover {
    color: white;
    scale: 1.03;
    background: var(--orange);
    border: solid 1px var(--blue);
}
/* Utilities */

.display-none {
    display: none;
}